@font-face {
    font-family: "Cina GEO";
    src: url("../font/Cina/CinaGEO-SemiBold.eot");
    src: local("../font/Cina/CinaGEO-SemiBold"), local("CinaGEO-SemiBold"), url("../font/Cina/CinaGEO-SemiBold.eot?#iefix") format("embedded-opentype"), url("../font/Cina/CinaGEO-SemiBold.woff2") format("woff2"), url("../font/Cina/CinaGEO-SemiBold.woff") format("woff"), url("../font/Cina/CinaGEO-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Cina GEO";
    src: url("../font/Cina/CinaGEO-ExtraBold.eot");
    src: local("../font/Cina/CinaGEO-ExtraBold"), local("CinaGEO-ExtraBold"), url("../font/Cina/CinaGEO-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/Cina/CinaGEO-ExtraBold.woff2") format("woff2"), url("../font/Cina/CinaGEO-ExtraBold.woff") format("woff"), url("../font/Cina/CinaGEO-ExtraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Cina GEO";
    src: url("../font/Cina/CinaGEO-Regular.eot");
    src: local("../font/Cina/CinaGEO-Regular"), local("CinaGEO-Regular"), url("../font/Cina/CinaGEO-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Cina/CinaGEO-Regular.woff2") format("woff2"), url("../font/Cina/CinaGEO-Regular.woff") format("woff"), url("../font/Cina/CinaGEO-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Cina GEO";
    src: url("../font/Cina/CinaGEO-Black.eot");
    src: local("../font/Cina/CinaGEO-Black"), local("CinaGEO-Black"), url("../font/Cina/CinaGEO-Black.eot?#iefix") format("embedded-opentype"), url("../font/Cina/CinaGEO-Black.woff2") format("woff2"), url("../font/Cina/CinaGEO-Black.woff") format("woff"), url("../font/Cina/CinaGEO-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Cina GEO";
    src: url("../font/Cina/CinaGEO-Medium.eot");
    src: local("../font/Cina/Cina-GEO-Medium"), local("CinaGEO-Medium"), url("../font/Cina/CinaGEO-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Cina/CinaGEO-Medium.woff2") format("woff2"), url("../font/Cina/CinaGEO-Medium.woff") format("woff"), url("../font/Cina/CinaGEO-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Cina GEO";
    src: url("../font/Cina/CinaGEO-Light.eot");
    src: local("../font/Cina/CinaGEO-Light"), local("CinaGEO-Light"), url("../font/Cina/CinaGEO-Light.eot?#iefix") format("embedded-opentype"), url("../font/Cina/CinaGEO-Light.woff2") format("woff2"), url("../font/Cina/CinaGEO-Light.woff") format("woff"), url("../font/Cina/CinaGEO-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Cina GEO";
    src: url("../font/Cina/CinaGEO-ExtraLight.eot");
    src: local("../font/Cina/CinaGEO-ExtraLight"), local("CinaGEO-ExtraLight"), url("../font/Cina/CinaGEO-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../font/Cina/CinaGEO-ExtraLight.woff2") format("woff2"), url("../font/Cina/CinaGEO-ExtraLight.woff") format("woff"), url("../font/Cina/CinaGEO-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Cina GEO";
    src: url("../font/Cina/CinaGEO-Bold.eot");
    src: local("../font/Cina/CinaGEO-Bold"), local("CinaGEO-Bold"), url("../font/Cina/CinaGEO-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Cina/CinaGEO-Bold.woff2") format("woff2"), url("../font/Cina/CinaGEO-Bold.woff") format("woff"), url("../font/Cina/CinaGEO-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Cina GEO";
    src: url("../font/Cina/CinaGEO-Thin.eot");
    src: local("../font/Cina/CinaGEO-Thin"), local("CinaGEO-Thin"), url("../font/Cina/CinaGEO-Thin.eot?#iefix") format("embedded-opentype"), url("../font/Cina/CinaGEO-Thin.woff2") format("woff2"), url("../font/Cina/CinaGEO-Thin.woff") format("woff"), url("../font/Cina/CinaGEO-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../../font/GillSans/GillSans.eot");
    src: url("../../../font/GillSans/GillSans.eot?#iefix") format("embedded-opentype"), url("../../../font/GillSans/GillSans.woff2") format("woff2"), url("../../../font/GillSans/GillSans.woff") format("woff"), url("../../../font/GillSans/GillSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../../font/GillSans/GillSans-MediumItalic.eot");
    src: url("../../../font/GillSans/GillSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../../font/GillSans/GillSans-MediumItalic.woff2") format("woff2"), url("../../../font/GillSans/GillSans-MediumItalic.woff") format("woff"), url("../../../font/GillSans/GillSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../../font/GillSans/GillSans-Medium.eot");
    src: url("../../../font/GillSans/GillSans-Medium.eot?#iefix") format("embedded-opentype"), url("../../../font/GillSans/GillSans-Medium.woff2") format("woff2"), url("../../../font/GillSans/GillSans-Medium.woff") format("woff"), url("../../../font/GillSans/GillSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../../font/GillSans/GillSans-Bold.eot");
    src: url("../../../font/GillSans/GillSans-Bold.eot?#iefix") format("embedded-opentype"), url("../../../font/GillSans/GillSans-Bold.woff2") format("woff2"), url("../../../font/GillSans/GillSans-Bold.woff") format("woff"), url("../../../font/GillSans/GillSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../../font/GillSans/GillSans-Heavy.eot");
    src: url("../../../font/GillSans/GillSans-Heavy.eot?#iefix") format("embedded-opentype"), url("../../../font/GillSans/GillSans-Heavy.woff2") format("woff2"), url("../../../font/GillSans/GillSans-Heavy.woff") format("woff"), url("../../../font/GillSans/GillSans-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../../font/GillSans/GillSans-HeavyItalic.eot");
    src: url("../../../font/GillSans/GillSans-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../../../font/GillSans/GillSans-HeavyItalic.woff2") format("woff2"), url("../../../font/GillSans/GillSans-HeavyItalic.woff") format("woff"), url("../../../font/GillSans/GillSans-HeavyItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../../font/GillSans/GillSans-BoldItalic.eot");
    src: url("../../../font/GillSans/GillSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../../font/GillSans/GillSans-BoldItalic.woff2") format("woff2"), url("../../../font/GillSans/GillSans-BoldItalic.woff") format("woff"), url("../../../font/GillSans/GillSans-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../../font/GillSans/GillSans-CondensedRegular.eot");
    src: url("../../../font/GillSans/GillSans-CondensedRegular.eot?#iefix") format("embedded-opentype"), url("../../../font/GillSans/GillSans-CondensedRegular.woff2") format("woff2"), url("../../../font/GillSans/GillSans-CondensedRegular.woff") format("woff"), url("../../../font/GillSans/GillSans-CondensedRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../../font/GillSans/GillSans-CondensedBold.eot");
    src: url("../../../font/GillSans/GillSans-CondensedBold.eot?#iefix") format("embedded-opentype"), url("../../../font/GillSans/GillSans-CondensedBold.woff2") format("woff2"), url("../../../font/GillSans/GillSans-CondensedBold.woff") format("woff"), url("../../../font/GillSans/GillSans-CondensedBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../../font/GillSans/GillSans-Italic.eot");
    src: url("../../../font/GillSans/GillSans-Italic.eot?#iefix") format("embedded-opentype"), url("../../../font/GillSans/GillSans-Italic.woff2") format("woff2"), url("../../../font/GillSans/GillSans-Italic.woff") format("woff"), url("../../../font/GillSans/GillSans-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../../font/GillSans/GillSans-LightItalic.eot");
    src: url("../../../font/GillSans/GillSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../../font/GillSans/GillSans-LightItalic.woff2") format("woff2"), url("../../../font/GillSans/GillSans-LightItalic.woff") format("woff"), url("../../../font/GillSans/GillSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../../font/GillSans/GillSans-Light.eot");
    src: url("../../../font/GillSans/GillSans-Light.eot?#iefix") format("embedded-opentype"), url("../../../font/GillSans/GillSans-Light.woff2") format("woff2"), url("../../../font/GillSans/GillSans-Light.woff") format("woff"), url("../../../font/GillSans/GillSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

#footer .back-to-top-button {
    position: fixed;
    bottom: 30rem;
    right: 30rem;
    width: 40rem;
    height: 40rem;
    z-index: 9999;
    cursor: pointer;
    text-decoration: none;
    transition: opacity .2s ease-out;
    background-color: #377b8c;
    padding: 7rem
}

#footer .footer-area {
    background: url("../../../images/background-footer.webp");
    background-repeat: no-repeat;
    background-size: cover
}

#footer .footer-area .group-box-top-areas {
    padding: 40rem 0 28rem 0;
    border-bottom: 2rem solid #256d7e
}

@media only screen and (max-width: 1024px)and (min-width: 601px) {
    #footer .footer-area .group-box-top-areas {
        padding: 52rem 0 28rem 0
    }
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-box-top-areas {
        padding: 25rem 0 25rem 0
    }
}

@media only screen and (max-width: 1024px)and (min-width: 601px) {
    #footer .footer-area .group-box-top-areas .box-top-area {
        padding: 0 44rem
    }
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-box-top-areas .box-top-area {
        padding: 0 16rem
    }
}

#footer .footer-area .group-box-top-areas .box-top-area .group-box-top-area {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-box-top-areas .box-top-area .group-box-top-area {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        gap: 26rem
    }
}

#footer .footer-area .group-box-top-areas .box-top-area .group-box-top-area .group-logo-container a {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center
}

#footer .footer-area .group-box-top-areas .box-top-area .group-box-top-area .group-logo-container a img {
    width: 83rem
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-box-top-areas .box-top-area .group-box-top-area .group-logo-container a img {
        width: 50rem
    }
}

#footer .footer-area .group-box-top-areas .box-top-area .group-box-top-area .group-logo-container a span {
    padding-left: 21rem;
    font-family: "Cina GEO";
    font-weight: 300;
    font-size: 24rem;
    color: #fff
}

#footer .footer-area .group-box-top-areas .box-top-area .group-box-top-area .group-button-container a {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    position: relative
}

#footer .footer-area .group-box-top-areas .box-top-area .group-box-top-area .group-button-container a .arrow {
    width: 101rem
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-box-top-areas .box-top-area .group-box-top-area .group-button-container a .arrow {
        width: 70rem
    }
}

#footer .footer-area .group-box-top-areas .box-top-area .group-box-top-area .group-button-container a .bg {
    width: 54rem;
    height: 54rem;
    position: absolute;
    left: 47rem
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-box-top-areas .box-top-area .group-box-top-area .group-button-container a .bg {
        width: 38rem;
        height: 38rem;
        left: 32px
    }
}

#footer .footer-area .group-box-top-areas .box-top-area .group-box-top-area .group-button-container a span {
    padding-left: 12rem;
    font-family: "Cina GEO";
    font-weight: 300;
    font-size: 24rem;
    color: #fff
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-box-top-areas .box-top-area .group-box-top-area .group-button-container a span {
        font-size: 20rem
    }
}

#footer .footer-area .group-box-bot-areas {
    padding: 51rem 0 28rem 0;
    border-bottom: 2rem solid #256d7e
}

@media only screen and (max-width: 1024px)and (min-width: 601px) {
    #footer .footer-area .group-box-bot-areas {
        padding: 40rem 0 58rem 0
    }
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-box-bot-areas {
        padding: 40rem 0 30rem 0
    }
}

#footer .footer-area .group-box-bot-areas .box-bot-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    gap: 30rem
}

@media only screen and (max-width: 1024px)and (min-width: 601px) {
    #footer .footer-area .group-box-bot-areas .box-bot-area {
        padding: 0 44rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between
    }
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-box-bot-areas .box-bot-area {
        padding: 0 16rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        gap: 22rem
    }
}

#footer .footer-area .group-box-bot-areas .box-bot-area .group-content-area {
    width: 25%
}

@media only screen and (max-width: 1024px)and (min-width: 601px) {
    #footer .footer-area .group-box-bot-areas .box-bot-area .group-content-area {
        width: 45%
    }
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-box-bot-areas .box-bot-area .group-content-area {
        width: auto
    }
}

#footer .footer-area .group-box-bot-areas .box-bot-area .group-content-area .box-title-area h2 {
    font-family: "Cina GEO";
    font-weight: 400;
    font-size: 20rem;
    color: #fff
}

#footer .footer-area .group-box-bot-areas .box-bot-area .group-content-area .box-content-area {
    margin-top: 24rem
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-box-bot-areas .box-bot-area .group-content-area .box-content-area {
        margin-top: 16rem
    }
}

#footer .footer-area .group-box-bot-areas .box-bot-area .group-content-area .box-content-area span {
    font-weight: 300;
    font-size: 26rem;
    color: #afcad1
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-box-bot-areas .box-bot-area .group-content-area .box-content-area span {
        font-size: 14rem
    }
}

#footer .footer-area .group-box-bot-areas .box-bot-area .group-content-area .box-content-area .group-menu-area {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-box-bot-areas .box-bot-area .group-content-area .box-content-area .group-menu-area {
        row-gap: 20rem;
        column-gap: 35rem;
        margin-top: 16rem
    }
}

#footer .footer-area .group-box-bot-areas .box-bot-area .group-content-area .box-content-area .group-menu-area a {
    font-weight: 300;
    font-size: 26rem;
    color: #fff;
    margin-bottom: 24rem
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-box-bot-areas .box-bot-area .group-content-area .box-content-area .group-menu-area a {
        width: 94rem;
        font-size: 16rem;
        margin-bottom: 0;
        letter-spacing: .1rem
    }
}

#footer .footer-area .group-box-bot-areas .box-bot-area .group-content-area .box-content-area .group-socials-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    gap: 34rem
}

#footer .footer-area .group-box-bot-areas .box-bot-area .group-content-area .box-content-area .group-socials-area .socials-area {
    width: 43rem
}

#footer .footer-area .group-copy-right-areas {
    padding: 57rem 0 35rem 0
}

@media only screen and (max-width: 1024px)and (min-width: 601px) {
    #footer .footer-area .group-copy-right-areas {
        padding: 48rem 0 32rem 0
    }
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-copy-right-areas {
        padding: 24rem 0
    }
}

#footer .footer-area .group-copy-right-areas .group-copy-right {
    text-align: center
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-copy-right-areas .group-copy-right {
        padding: 0
    }
}

#footer .footer-area .group-copy-right-areas .group-copy-right span {
    font-weight: 300;
    font-size: 24rem;
    color: #fff
}

@media only screen and (max-width: 600px) {
    #footer .footer-area .group-copy-right-areas .group-copy-right span {
        font-size: 20rem
    }
}

/*# sourceMappingURL=bib-website-footer.css.map */